<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>CS330 Portfolio Project</title>

    </head>

    <style>
    h3 {
        font-size: 22px;
    }
    div {
        text-align: center;
        padding: 1px;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 650px;
        height: 400px;
        padding: 70px
    }
    </style>

    <body>
        <div>
        <h1><u>Projects</u></h1>
        <h1>CS 3300 Portfolio Project - Fall 2022</h1>

            <div>
                <h3 style="color: black"> <i>Nelson Armstrong</i> </h3>

            <% if user_signed_in? %>

                <div> Welcome <%= current_user.email %> </div>
                <%= button_to "Sign out", destroy_user_session_path, method: delete %>

            <% else %>
                <a href="/users/sign_in"> Sign in</a>
            <% end %>

            </div>
        </div>
        <img src="https://ppm.express/wp-content/uploads/2022/03/INTRODUCTION-TO-PROJECT-MANAGEMENT-KEY-ELEMENTS-1024x576.jpg.webp">
    </body>
</html>