<!DOCTYPE html>
<html>
<head>
<style>
h1 {
  text-align: center;
  font-size: 56px;
  min-height: 1em;
  color: Grey;
  font-style: italic;
}
div {
  text-align: center;
  vertical-align: middle;
  font-size: 22px;
  min-height: 1em;
  padding: 5px;
}
button {
  background-color: #0000CD;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 250px;
}
</style>
</head>
<body>

<h1><strong> Editing project <strong></h1>

<img src="https://i.imgflip.com/3mq1lb.png" alt="Spongebob thinking">

<div>
  <%= render "form", project: @project %>
  <br>
</div>  

<div>
  <%= button_to "Show this project  >>", @project %> |
  <%= button_to "<<  Back to projects", projects_path %>
</div>

</body>
</html>